<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tap30 Demo</title>
    <link rel="stylesheet" href="./supportPart.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="main__header">
        <nav class="nav container">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="102" height="22" viewBox="0 0 102 22">
                <g fill-rule="evenodd">
                    <path fill="#000" d="M102 5.946h-3.222v4.28H91.8v-4.28h-3.221v4.28h-5.637a1.878 1.878 0 0 1-1.879-1.872V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873 1.878 1.878 0 0 1-1.879-1.873V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873h-1.879V5.946h-3.22v4.28h-17.18v3.212h3.758v.535c0 2.656-2.167 4.816-4.831 4.816-2.664 0-4.832-2.16-4.832-4.816v-3.746H37.58v3.746c0 4.426 3.613 8.027 8.053 8.027 4.44 0 8.052-3.6 8.052-8.027v-.535H68.985a5.09 5.09 0 0 0 3.489-1.381 5.09 5.09 0 0 0 3.49 1.38 5.09 5.09 0 0 0 3.489-1.38 5.089 5.089 0 0 0 3.489 1.38H102V5.947z"></path>
                    <path fill="#000" d="M84.702 19.297h3.854V22h3.304v-5.946h-7.158zM102 0h-6.561v2.973H102z"></path>
                    <path fill="#FF5B35" d="M26.842 11.297H10.737V5.946h16.105zM26.842 22H0v-5.351h26.842z"></path>
                </g>
                </svg>
            </a>
            <div class="nav__toggler">
                <div class="bar bar-one"></div>
                <div class="bar bar-two"></div>
                <div class="bar bar-three"></div>
            </div>
            <ul class="list nav__list">
                <li class="nav__item"><a href="/components/supportPart/supportPart.html">پشتیبانی</a></li>
                <li class="nav__item"><a href="/components/servicesPart/servicesPart.html">خدمات کسب و کارها</a></li>
                <li class="nav__item"><a href="/components/careerOpportunities/careerOpportunities.html">فرصت های شغلی</a></li>
                <li class="nav__item"><a href="/index.html">وبلاگ</a></li>
                <li class="nav__item cta"><a href="#" class="btn btn--primary btn--block">دانلود تپسی</a></li>
            </ul>
        </nav>
    </header>
    <section class="support-section block">
        <div class="support-head">
            <div class="contact-us"><a href="#" data-tab-target="tab-0">تماس با ما</a></div>
            <div class="return-money"><a href="#" data-tab-target="tab-1">درخواست بازگشت اعتبار</a></div>
            <div class="questions"><a href="#" data-tab-target="tab-2">ثبت مشکل یا طرح پرسش</a></div>
        </div>
        <div class="contact_us-div active description" id="tab-0" data-aos="zoom-in-down" data-aos-duration="1500">
            <div class="div-left">
                <div class="information">
                    <div class="info">
                        <div class="info-title">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>شماره تماس با پشتیبانی:</p>
                        </div>
                        <a href="#">1630</a>
                    </div>
                    <div class="info">
                        <div class="info-title">
                            <i class="fa fa-fax" aria-hidden="true"></i>
                            <p>شماره فکس:</p>
                        </div>
                        <a href="#">41630680 (21) 98+</a>
                    </div>
                    <div class="info">
                        <div class="info-title">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p>پست الکترونیکی:</p>
                        </div>
                        <a href="#">info@tapsi.cab</a>
                    </div>
                </div>
                <div class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </div>
            </div>
            <div class="div-right">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.936399980917!2d51.35816792410267!3d35.77693860755708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e073e422f3349%3A0xf0bb578ed3187af8!2z2LPYudin2K_YqiDYp9io2KfYrw!5e0!3m2!1sen!2s!4v1657619292632!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="map-content">
                    <span>شماره تماس :</span>
                    <span>1630</span>
                </div>
                <div class="map-content">
                    <span>آدرس :</span>
                    <span>تهران، سعادت آباد</span>
                </div>
            </div>
        </div>
        <div class="return_money-div hidden description" id="tab-1" data-aos="zoom-in-down" data-aos-duration="1500">
            <form action="#" class="return_money-form">
                <input type="text" placeholder="نام و نام خانوادگی">
                <input type="text" placeholder="شماره تماس">
                <input type="email" placeholder="ایمیل">
                <input type="text" placeholder="شماره ملی">
                <input type="text" placeholder="شماره کارت">
                <input type="text" placeholder="مبلغ به تومان">
                <button class="btn btn--primary btn-block">ارسال</button>
            </form>
        </div>
        <div class="questions-div hidden description" id="tab-2" data-aos="zoom-in-down" data-aos-duration="1500">
            <form action="#" class="questions-form">
                <input type="text" placeholder="نام و نام خانوادگی">
                <input type="text" placeholder="شماره تماس">
                <input type="email" placeholder="ایمیل">
                <textarea name="text" class="input" cols="3" placeholder="متن پیام"></textarea>
                <button class="btn btn--primary btn-block">ارسال</button>
            </form>
        </div>
    </section>

    <footer class="main-footer block">
        <div class="footer__container footer"  data-aos="zoom-in-down" data-aos-duration="1500">
            <div class="footer__item">
                <h6>تپسی</h6>
                <a href="#">وبلاگ تپسی</a>
                <a href="#">فرصت شغلی</a>
                <a href="#">تماس با ما</a>
                <a href="#">لوگو و هویت سازمانی</a>
            </div>
            <div class="footer__item">
                <h6>تپسی</h6>
                <a href="#">وبلاگ تپسی</a>
                <a href="#">فرصت شغلی</a>
                <a href="#">تماس با ما</a>
                <a href="#">لوگو و هویت سازمانی</a>
            </div>
            <div class="footer__item">
                <h6>تپسی</h6>
                <a href="#">وبلاگ تپسی</a>
                <a href="#">فرصت شغلی</a>
                <a href="#">تماس با ما</a>
                <a href="#">لوگو و هویت سازمانی</a>
            </div>
            <div class="footer__item">
                <h6>رانندگان</h6>
                <a href="#">ثبت نام</a>
                <a href="#">دانلود اپ سفیر</a>
                <a href="#">باشگاه مشتریان</a>
                <a href="#">لوگو و هویت سازمانی</a>
            </div>
            <div class="footer__item">
                <h6>کسب و کار ها</h6>
                <a href="#">پنل سازمانی</a>
                <a href="#">خرید کد اعتبار و تخفیف</a>
                <a href="#">دریافت API</a>
                <a href="#">شرایط و قوانین</a>
            </div>
            <div class="footer__item enemad">
                <img src="./assets/images/enemad.png" alt="enemad">
                <img src="./assets/images/enemad2.jpg" alt="enemad">
                <img src="./assets/images/enemad.png" alt="enemad">
            </div>
        </div>
    </footer>
    <script src="./supportPart.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>