/* RESET */
*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*list-style: none;*/
}
/* ROOT VARIABLE */
:root{
    --color-primary: #ff5722;
    --color-primary-light: #ff7a50;
    --color-secondry-light: #fff6f2;
    --color-secondry-dark: #ffa589;
    --color-navbar: #f8f8f8;
    --color-headings: #000;
    --color-body: #333333;
    --color-white: #fff;
}
/* font */
@font-face {
    font-family: "Vazir";
    font-weight: normal;
    src: url("./assets/fonts/Vazir.woff");
}
@font-face {
    font-family: "Vazir";
    font-weight: bold;
    src: url("./assets/fonts/Vazir-Bold.woff");
}
/* STYLE MOBILE FIRST*/
html{
    font-size: 62.5%;
}
body{
    color: var(--color-body);
    font-size: 1.4rem ;
    line-height: 2.5rem;
    font-family: "Vazir";
    overflow-x: hidden;
}
.block{
    padding: 4rem 2rem;
}
.block-two{
    padding: 0 2rem;
}
h1, h2, h3{
    color: var(--color-headings);
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.2rem;
    margin-bottom: 2rem;
}
/* MEDIA QUERY for size heading*/
@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3.5rem;
    }
    .block{
        padding: 6rem 2rem;
    }
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* BUTTON */
.btn{
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    font-family: "Vazir";
    font-size: 1.4rem;
}
.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn--secondary{
    background-color: var(--color-secondry-dark);
    color: var(--color-white);
}
.btn-block{
    width: 100%;
    font-size: 1.6rem;
    margin-top: 2rem;
}
button {
    font-weight: normal;
}
/* MEDIA QUERY for button */
@media screen and (min-width: 1024px){
    .btn{
        font-size: 1.6rem;
    }
    .btn-block{
        font-size: 2rem;
    }
}
/* NAVBAR */
.main__header{
    background-color: var(--color-navbar);
    padding: 1.2rem;
    overflow-x: hidden;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nav svg{
    margin-top: 0.7rem;
}
.nav__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;
    list-style: none;
}
.nav.nav__expanded .nav__list{
    max-height: 100vh;
    opacity: 1;
}
/* TOGGLER */
.nav__toggler{
    cursor: pointer;
}
.bar{
    width: 25px;
    height: 3px;
    background: #000;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}
.nav.nav__expanded .bar-one{
    transform: rotate(-45deg)
    translateY(12px);
}
.nav.nav__expanded .bar-two{
    opacity: 0;
    transform: translate(-40px);
}
.nav.nav__expanded .bar-three{
    transform: rotate(45deg)
    translateY(-10px);
}
/* end toggler */
.nav__item{
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.nav__item > a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0.5rem 0rem;
}
.nav__item > a:hover{
    color: var(--color-primary);
}
.nav__item.cta{
    font-size: 1.4rem;
    border: 0;
    margin-top: 0.7rem;
}
.nav__item.cta > a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}
.nav__item > .btn{
    padding: 1rem 3rem;
    margin-bottom: 1rem;
}
/* MEDIA QUERY for navbar */
@media screen and (min-width: 1024px) {
    .main__header{
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .nav__toggler{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        align-items: center;
        width: auto;
        max-height: 100%;
        opacity: 1;
    }
    .nav__item{
        margin-right: 2rem;
        margin-bottom: 0;
        font-size: 1.6rem;
        border: none;
    }
    .nav{
        padding: 0 2rem;
    }
}
.banner {
    background: #4188d8 url(./assets/images/banner-bg.jpg);
    height: calc(100vh - 360px);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-white);
}
.banner h1 {
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: var(--color-white);
}
.banner div {
    margin-bottom: 8rem;
}
/* MEDIA QUERY for banner */
@media screen and (min-width: 1024px) {
    .banner {
        width: 100vw;
        height: 100vh;
    }
    .banner h1 {
        font-size: 2.7rem;
    }
}
/* service description */
.service_description-content img {
    text-align: center;
    width: 396px;
}
.service_description h2 {
    font-size: 2rem;
}
.service_description-text {
    line-height: 3rem;
}
.service_description-text p {
    margin-top: 2rem;
    text-align: justify;
}
.service_description-text .btn {
    margin-top: 3rem;
    margin-left: 2rem;
}
/* MEDIA QUERY for service description */
@media screen and (min-width: 1024px) {
    .service_description-content {
        display: flex;
    }
    .service_description-content img {
        width: 570px;
    }
    .service_description h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        transform: translateX(-90px);
    }
    .service_description-text {
        margin-top: 5rem;
    }
    .service_description-text h3 {
        font-size: 2.2rem;
    }
    .service_description-text p {
        max-width: 600px;
        margin-bottom: 2rem;
        line-height: 4rem;
    }
}
/* service video */
.service-video h2{
    font-size: 2rem;
}
.service-video video {
    width: 300px;
    margin-top: 1.5rem;
    border-radius: 4px;
    text-align: center;
}
/* MEDIA QUERY for service video */
@media screen and (min-width: 1024px) {
    .service-video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-video h2 {
        font-size: 3rem;
    }
    .service-video video {
        width: 950px;
    }
}
/* information section */
.information-section h2 {
    font-size: 2rem;
}
.information-content p {
    line-height: 3rem;
    text-align: justify;
    margin-bottom: 2rem;
}
.information-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.information-div :nth-child(2n) {
    text-align: left;
}
.information-div .phone, .information-div .email {
    display: flex;
    align-items: center;
}
.information-div .phone i, .information-div .email i {
    margin-left: 1rem;
    color: var(--color-primary-light);
}
.information-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.information-form label {
    opacity: 0.7;
    margin-bottom: 1rem;
}
.information-form input {
    outline: none;
    border: none;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: rgb(233, 232, 232);
    border-radius: 8px;
}
/* MEDIA QUERY for information section */
@media screen and (min-width: 1024px) {
    .information-section h2 {
        font-size: 3rem;
        margin-top: 4rem;
    }
    .information-content p {
        margin-bottom: 3rem;
    }
    .information-flex {
        display: flex;
        align-items: center;
    }
    .information-content {
        max-width: 50%;
        margin-left: 3rem;

    }
    .information-form {
        width: 450px;
        border-right: 2px solid var(--color-secondry-dark);
        padding-right: 4rem;
    }
}
/* FOOTER */
.main-footer{
    background-color: #000;
    color: #fff;
}
.footer__container{
    min-height: 250px;
    display: flex;
    flex-direction: column;
}
.footer__item{
    margin-bottom: 2.2rem;
}
.footer__item a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.footer__item a:hover{
    color: var(--color-primary);
}
.footer__item h6{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.2rem;

}
.footer__item.enemad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.enemad img{
    max-width: 80px;
    border-radius: 5px;
    height: auto;
    margin-left: 1rem;
}
/* MEDAI QUERY for footer */
@media screen and (min-width: 1024px) {
    .main-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer__item{
        margin-bottom: 0;
        margin-left: 2.5rem;
    }
    .enemad{
        margin-right: 2rem;
    }
}

