<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tap30 Demo</title>
    <link rel="stylesheet" href="./careerOpportunities.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="main__header">
        <nav class="nav container">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="102" height="22" viewBox="0 0 102 22">
                <g fill-rule="evenodd">
                    <path fill="#000" d="M102 5.946h-3.222v4.28H91.8v-4.28h-3.221v4.28h-5.637a1.878 1.878 0 0 1-1.879-1.872V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873 1.878 1.878 0 0 1-1.879-1.873V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873h-1.879V5.946h-3.22v4.28h-17.18v3.212h3.758v.535c0 2.656-2.167 4.816-4.831 4.816-2.664 0-4.832-2.16-4.832-4.816v-3.746H37.58v3.746c0 4.426 3.613 8.027 8.053 8.027 4.44 0 8.052-3.6 8.052-8.027v-.535H68.985a5.09 5.09 0 0 0 3.489-1.381 5.09 5.09 0 0 0 3.49 1.38 5.09 5.09 0 0 0 3.489-1.38 5.089 5.089 0 0 0 3.489 1.38H102V5.947z"></path>
                    <path fill="#000" d="M84.702 19.297h3.854V22h3.304v-5.946h-7.158zM102 0h-6.561v2.973H102z"></path>
                    <path fill="#FF5B35" d="M26.842 11.297H10.737V5.946h16.105zM26.842 22H0v-5.351h26.842z"></path>
                </g>
                </svg>
            </a>
            <div class="nav__toggler">
                <div class="bar bar-one"></div>
                <div class="bar bar-two"></div>
                <div class="bar bar-three"></div>
            </div>
            <ul class="list nav__list">
                <li class="nav__item"><a href="/components/supportPart/supportPart.html">پشتیبانی</a></li>
                <li class="nav__item"><a href="/components/servicesPart/servicesPart.html">خدمات کسب و کارها</a></li>
                <li class="nav__item"><a href="/components/careerOpportunities/careerOpportunities.html">فرصت های شغلی</a></li>
                <li class="nav__item"><a href="/index.html">وبلاگ</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero-section">
        <div class="hero-content block">
            <h1>از خودت سبقت بگیر...</h1>
            <p>اگر مشتاق یادگیری هستید، دوست دارید رشد کنید و از خودتان هم فراتر بروید، اینجا فرصت برای سبقت گرفتن از خودتان فراهم است، چرا که سرعت رشد و یادگیری در تپسی بسیار بالاست. یادگیری مفیدی که از حل کردن چالش‌های جذاب در کنار یک تیم متخصص و حرفه‌ای حاصل می‌شود.</p>
            <a href=""><button class="btn btn--primary">پیوستن به تپسی</button></a>
        </div>
    </section>
    <section class="block container" data-aos="zoom-in-down" data-aos-duration="1500">
        <div class="description active" id="tab-0">
            <img src="./assets/images/59e96feb.webp" alt="59e96feb" class="description-img"> 
            <div class="description-div">
                <h2 class="description-header">بهبود مستمر</h2>
                <p class="description-content">ما فکر می‌کنیم «بهتر شدن»، یک امر مداوم است. پس هیچ‌وقت متوقف نمی‌شویم و سعی می‌کنیم در مسیر حرکت‌مان، هر روز بهتر از روز قبل باشیم. بهتر در ارائه خدمت و محصول به کاربران، بهتر در خلق تجربه همکاری برای همکاران و بهتر در خلق ارزش برای جامعه‌.</p>
            </div>
        </div>
        <div class="description hidden" id="tab-1">
            <img src="./assets/images/e3a968d9.webp" alt="e3a968d9" class="description-img"> 
            <div class="description-div">
                <h2 class="description-header">رشد هوشمندانه</h2>
                <p class="description-content">لازمه‌ی رشد سریع در محیط‌های چابک مثل کسب و کار ما، خلاق بودن و فکر کردن خارج از چهارچوب‌هاست. ما گاهی با مسائل سختی مواجهیم که فرصت محدودی برای حل دارند. در این مواقع، هرچند می‌دانیم که از شیوه‌های معمول نمی‌توان به نتیجه رسید، اما تسلیم نمی‌شویم چون از نظر ما «کار، نشد ندارد». اینجاست که هوش، خلاقیت و تفکر را به کار می‌گیریم تا اگر راهی نیست، راه بسازیم.</p>
            </div>
        </div>
        <div class="description hidden" id="tab-2">
            <img src="./assets/images/61669475.webp" alt="61669475" class="description-img"> 
            <div class="description-div">
                <h2 class="description-header">یادگیری و توسعه</h2>
                <p class="description-content">ما فکر می‌کنیم که اگر قرار است تاثیر مثبتی روی محیط اطرافمان بگذاریم، باید این کار را از خودمان شروع کنیم. پس در تپسی، مسیر رشد و یادگیری را برای افرادی که مشتاق و مستعدند، فراهم کرده‌ایم. ما خودمان را متعهد می‌دانیم که هم‌راه و هم‌پای رشد هم باشیم و دانسته‌هایمان را به یکدیگر منتقل کنیم. فعالانه بازخورد می‌دهیم و معتقدیم وقتی همه ما در کنار هم رشد کنیم، حتما می‌توانیم کارهای بزرگ‌تری انجام بدهیم و آثار بزرگ‌تری خلق کنیم.</p>
            </div>
        </div>
        <div class="description hidden" id="tab-3">
            <img src="./assets/images/f92d8a01.webp" alt="f92d8a01" class="description-img"> 
            <div class="description-div">
                <h2 class="description-header">اثرگذاری</h2>
                <p class="description-content">ما برای انجام هر کاری، به نتیجه و اثرش فکر می‌کنیم، چرا که دوست داریم کاری انجام بدهیم که اثر مثبت و ماندگاری در زندگی هم‌وطنان‌مان بگذارد. ما باور داریم که در کشورمان، پتانسیل‌های زیادی برای خلق ارزش وجود دارد. پس هدفمان را انجام کارهای معناداری قرار داده‌ایم که اثر مثبتش بر کیفیت زندگی مردم کشورمان، ملموس باشد.</p>
            </div>
        </div>
        <div>
            <div class="description-btn block">
                <button data-tab-target="tab-0">بهبود مستمر</button>
                <button data-tab-target="tab-1">رشد هوشمندانه</button>
                <button data-tab-target="tab-2">یادگیری و توسعه</button>
                <button data-tab-target="tab-3">اثرگذاری</button>
            </div>
        </div>
    </section>
    <section class="block-two container" data-aos="zoom-in-down" data-aos-duration="1500">
        <h2 class="review-header">تپسی از نگاه همکاران</h2>
        <div class="review-intro">
            <div class="review-btn right-btn"><button><i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
            <div class="review-content active" value="0">
                <div class="review-div">
                    <img src="./assets/images/product-manager.webp" alt="product-manager">
                    <div class="review-head">
                        <h3>بردیا میرزایی</h3>
                        <h3>مدیر محصول</h3>
                    </div>
                </div>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد </p>
            </div>
            <div class="review-content hidden" value="1">
                <div class="review-div">
                    <img src="./assets/images//analyze-manager.webp" alt="analyze-manager">
                    <div class="review-head">
                        <h3>فراز خسروانی</h3>
                        <h3>سرپرست تحلیل عملکرد</h3>
                    </div>
                </div>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد </p>
            </div>
            <div class="review-content hidden" value="2">
                <div class="review-div">
                    <img src="./assets/images/support-manager.webp" alt="support-manager">
                    <div class="review-head">
                        <h3>حمید کاظمی</h3>
                        <h3>مدیر واحد ارتباط با مشتریان</h3>
                    </div>
                </div>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد </p>
            </div>
            <div class="review-btn left-btn"><button><i class="fa fa-arrow-left" aria-hidden="true"></i></button></div>
        </div>
    </section>
    <section class="block oppurtunities container" data-aos="zoom-in-down" data-aos-duration="1500">
        <h2>فرصت های شغلی</h2>
        <p class="oppurtunities-head"><span>30</span>فرصت شغلی در <span>5</span>شهر ایران</p>
        <div class="oppurtunities-grid">
            <a href="#">عملیات</a>
            <a href="#">مالی</a>
            <a href="#">مارکتینگ</a>
            <a href="#">فنی</a>
            <a href="#">منابع انسانی</a>
            <a href="#">محصول</a>
            <a href="#">هوش مصنوعی</a>
            <div></div>
            <div></div>
        </div>
        <div class="oppurtunities-btn">
            <button class="btn btn--primary">همه فرصت های شغلی</button>
            <button class="btn btn--secondary">کارآموزی در تپسی</button>
        </div>
    </section>
    <section class="feature-section block container" data-aos="zoom-in-down" data-aos-duration="1500">
        <div class="feature-img">
            <img src="./assets/images/uni.webp" alt="uni">
        </div>
        <div class="feature-content">
            <h2>ارتباط با دانشگاه</h2>
            <p>ما در تپسی، مشتاق ارتباط با دانشگاه‌هاییم چرا که فکر می‌کنیم این ارتباط، برای هر دو طرف ارزش‌آفرین و اثرگذار است. پس تلاش می‌کنیم با برگزاری کارگاه‌ها، جلسات انتقال تجربه و تورهای بازدید، فرصت آشنایی با صنعت و انتقال تجربه را برای دانشجویان علاقه‌مند فراهم کنیم. همچنین، مسیر حمایت از پایان‌نامه‌ها و پذیرش کارآموز نیز در تپسی فراهم است.</p>
            <button class="btn btn--primary">ارتباط با تپسی</button>
        </div>
    </section>
    <section class="sign_up block container" data-aos="zoom-in-down" data-aos-duration="1500">
        <div class="sign_up-content">
            <h2>ثبت نام در آکادمی تپسی</h2>
            <p>ما به صورت دوره‌ای، رویدادهای آموزشی متنوعی را برگزار می‌کنیم، از سمینارها و کارگاه‌های تخصصی گرفته تا رویدادهای انتقال تجربه و اشتراک دانش. پس اگر مایلین در این رویدادها حضور داشته باشید، اینجا ثبت‌نام کنید و حوزه‌های مورد علاقه‌تان را برایمان بنویسید.</p>
        </div>
        <div class="sign_up-div">
            <form action="#" class="sign_up-form">
                <div>
                    <label for="first-name">نام</label>
                    <input type="text" id="first-name">
                </div>
                <div>
                    <label for="last-name">نام خانوادگی</label>
                    <input type="text" id="last-name">
                </div>
                <div>
                    <label for="email">ایمیل</label>
                    <input type="email" id="email" placeholder="email@example.com">
                </div> 
                <div>
                    <label for="number">شماره تماس</label>
                    <input type="text" id="number" placeholder="989010000000+">
                </div>
                <button class="btn btn--primary btn-block">ارسال</button>
            </form>
        </div>
    </section>
    <footer class="main-footer block">
        <div class="footer__container footer"  data-aos="zoom-in-down" data-aos-duration="1500">
            <div class="footer__item">
                <h6>تپسی</h6>
                <a href="#">وبلاگ تپسی</a>
                <a href="#">فرصت شغلی</a>
                <a href="#">تماس با ما</a>
                <a href="#">لوگو و هویت سازمانی</a>
            </div>
            <div class="footer__item">
                <h6>تپسی</h6>
                <a href="#">وبلاگ تپسی</a>
                <a href="#">فرصت شغلی</a>
                <a href="#">تماس با ما</a>
                <a href="#">لوگو و هویت سازمانی</a>
            </div>
            <div class="footer__item">
                <h6>تپسی</h6>
                <a href="#">وبلاگ تپسی</a>
                <a href="#">فرصت شغلی</a>
                <a href="#">تماس با ما</a>
                <a href="#">لوگو و هویت سازمانی</a>
            </div>
            <div class="footer__item">
                <h6>رانندگان</h6>
                <a href="#">ثبت نام</a>
                <a href="#">دانلود اپ سفیر</a>
                <a href="#">باشگاه مشتریان</a>
                <a href="#">لوگو و هویت سازمانی</a>
            </div>
            <div class="footer__item">
                <h6>کسب و کار ها</h6>
                <a href="#">پنل سازمانی</a>
                <a href="#">خرید کد اعتبار و تخفیف</a>
                <a href="#">دریافت API</a>
                <a href="#">شرایط و قوانین</a>
            </div>
            <div class="footer__item enemad">
                <img src="./assets/images/enemad.png" alt="enemad">
                <img src="./assets/images/enemad2.jpg" alt="enemad">
                <img src="./assets/images/enemad.png" alt="enemad">
            </div>
        </div>
    </footer>
    <script src="./careerOpportunities.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>